ontology/test-data/sample-mismo-data-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:mismo="http://www.mismo.org/residential/2009/schemas" xmlns="http://www.mismo.org/residential/2009/schemas" targetNamespace="http://www.mismo.org/residential/2009/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:annotation>
        <xsd:documentation>Version: 3.6.0 Build: B367 Date: 2024-06-23 Iteration:</xsd:documentation>
        <xsd:documentation>Copyright 2025 Mortgage Industry Standards Maintenance Organization, Inc. All Rights Reserved. AUTHORIZED USAGE / PATENT DISCLOSURE REQUEST: This proposed MISMO Product (as defined in MISMO's 2018 Intellectual Property Rights Policy) was published on 2/20/25 for the purpose of providing an opportunity for comment on the product as well as to afford Participants (as defined in MISMO's 2018 Intellectual Property Rights Policy) who worked on this MISMO Product at least thirty (30) days' notice prior to final release of the Product in order to review the product and disclose any applicable Patent Rights (as defined by MISMO's 2018 Intellectual Property Rights Policy). Disclosures should be submitted using MISMO's IPR Disclosure Form. Comments should be submitted to info@mismo.org. Any other use of this MISMO Product, including implementation, is prohibited at this time. At the conclusion of the IPR and Patent Review period, this MISMO Product will be published pursuant to MISMO's 2018 Intellectual Property Rights Policy and usage terms will apply to all use of this MISMO Product at that time, including payment of applicable royalties. ADDITIONAL PATENT DISCLOSURE REQUEST: In addition, MISMO requests that any non-Participant organization that may have any patent and or patent applications, or other intellectual property rights, that might be infringed by an organization that uses or is compliant with this proposed MISMO Product disclose such patents, applications, or intellectual property rights at this time in writing using MISMO's IPR Disclosure Form. PATENT DISCLAIMER: Attention is drawn to the possibility that some of the elements of this proposed MISMO Product may be the subject of third party patent rights. MISMO will not be held responsible for identifying any or all such patent rights.</xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinkMISMOB367.xsd"/>
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>


 	<!-- <xs:attributeGroup name="MISMOresourceLink">
		<xs:annotation>
			<xs:documentation>An xlink attribute group for defining the end point of a relationship.</xs:documentation>
			<xs:documentation>term: Resource Endpoint</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:label"/>
	</xs:attributeGroup> -->

    <xsd:attributeGroup name="AttributeExtension">
        <xsd:annotation>
            <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:attributeGroup>

    <xsd:complexType name="MISMO_BASE">
        <xsd:sequence>
            <xsd:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="MISMOAmount_Base">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MISMOAreaMeasure_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOCode_Base">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOCount_Base">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMODate_Base">
        <xsd:restriction base="MISMODate_Union">
            <xsd:pattern value="[0-9]{4}([\-][0-9]{2}){0,2}([Z]|(([+]|[\-])[0-9]{2}[:][0-9]{2}))?"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMODate_Union">
        <xsd:union memberTypes="xsd:gYear xsd:gYearMonth xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMODatetime_Base">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern value="[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,9})?(Z|([+|\-][0-9]{2}:[0-9]{2}))"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMODay_Base">
        <xsd:restriction base="xsd:gDay"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOEnum_Base">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOIdentifier_Base">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOIndicator_Base">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOLinearMeasure_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOLogicalDataDictionaryIdentifier">
        <xsd:annotation>
            <xsd:documentation>Term: MISMO Logical Data Dictionary Identifier Definition: The MISMO Logical Data Dictionary Identifier is a unique value that represents the version of the MISMO LDD section of the reference model to which the containing XML instance document complies. For detailed information, please see MISMO Engineering Guide 006 – “Versioning and Release Schedule”, at https://www.mismo.org/standards-resources/mismo-product/mismo-engineering-guideline-(meg)-6.
Term: MISMO Logical Data Dictionary Identifier Definition: The MISMO Logical Data Dictionary Identifier is a unique value that represents the version of the MISMO LDD section of the reference model to which the containing XML instance document complies. For detailed information, please see MISMO Engineering Guide 006 – "Versioning and Release Schedule", at https://www.mismo.org/standards-resources/mismo-product/mismo-engineering-guideline-(meg)-6.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="3\.\d*((\.\d*)?(\.\d*)?(\[[B]\d*(\-\d*)?\])?)?"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOMonth_Base">
        <xsd:restriction base="xsd:gMonth"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMONumeric_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMONumericString_Base">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOPercent_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMORate_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOReferenceModelIdentifier">
        <xsd:annotation>
            <xsd:documentation>Term: MISMO Reference Model Identifier Definition: The MISMO Reference Model Identifier is a unique value that represents the version of the MISMO reference model to which the containing XML instance document complies. For detailed information, please see MISMO Engineering Guide 006 – “Versioning and Release Schedule”, at https://www.mismo.org/standards-resources/mismo-product/mismo-engineering-guideline-(meg)-6.
Term: MISMO Reference Model Identifier Definition: The MISMO Reference Model Identifier is a unique value that represents the version of the MISMO reference model to which the containing XML instance document complies. For detailed information, please see MISMO Engineering Guide 006 – "Versioning and Release Schedule", at https://www.mismo.org/standards-resources/mismo-product/mismo-engineering-guideline-(meg)-6.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="3\.\d*((\.\d*)?(\[[B]\d*(\-\d*)?\])?)?"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOSequenceNumber_Base">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOSoundMeasure_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOTime_Base">
        <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOURI_Base">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOURL_Base">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOValue_Base">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOVolumeMeasure_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOWeightMeasure_Base">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:complexType name="MISMOXML" mixed="true">
        <xsd:annotation>
            <xsd:documentation>A data type of XML SHOULD identify a data point that is an XML compatible byte stream in the encoding of the EncodingType that when decoded is a resource of the MediaType using characters from the CharacterEncodingSetType. If a binary EncodingType is not used (e.g. "None" or "EscapedXML") then the CharacterEncodingSetType must be the same as that used for the XML instance document. The content MAY be mixed text and XML.
EXAMPLE: Embedded Content XML for a print stream (.prn) in Base64 encoding could be expressed as "VGhlb2RvcmUgQWRhbXMNCkdyZWdvcnkgQWx2b3JkDQpMZWVuZGVydCBCaWpuYWd0ZQwNCg==".</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
            <xsd:annotation>
                <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
            <xsd:annotation>
                <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
            <xsd:annotation>
                <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
            <xsd:annotation>
                <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="xlink:MISMOresourceLink">
            <xsd:annotation>
                <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:simpleType name="MISMOXPath_Base">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOYear_Base">
        <xsd:restriction base="xsd:gYear">
            <xsd:minInclusive value="0001"/>
            <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="MISMOEnum_Base">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="MISMOString_Base">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MISMOIndicator_Base">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>

     <xsd:simpleType name="DataNotSuppliedReasonBase">
        <xsd:restriction base="MISMOEnum_Base">
            <xsd:enumeration value="NotCollected">
                <xsd:annotation>
                    <xsd:documentation>The creator of the MISMO message does not collect the data point.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NotReceived">
                <xsd:annotation>
                    <xsd:documentation>The creator of the MISMO message can collect the data point, but has not received a value as of the time the file was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NotRelevant">
                <xsd:annotation>
                    <xsd:documentation>The creator of the MISMO message can collect the data point, but did not ask for it because it is not germane to the context at hand. (One example is “cash out purpose type” for a purchase loan.)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Omitted">
                <xsd:annotation>
                    <xsd:documentation>The creator of the MISMO message has a value for the data point. However, they have a pertinent reason (such as confidentiality) for not including it in the message.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Other"/>
        </xsd:restriction>
    </xsd:simpleType>

   <xsd:complexType name="MISMOIdentifier">
        <xsd:annotation>
            <xsd:documentation>A data type of Identifier SHOULD identify a data point that provides a unique value for reference purposes and MAY have IdentifierOwnerURI and IdentifierEffectiveDate attributes.
EXAMPLE: A Loan Identifier could be expressed as "0034567891-A".</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="MISMOIdentifier_Base">
                <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
                    <xsd:annotation>
                        <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="IdentifierEffectiveDate" type="MISMODate_Base">
                    <xsd:annotation>
                        <xsd:documentation>The date on which the value represented by the MISMOIdentifier is effective as determined by the issuer or owner as specified by the IdentifierOwnerURI.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="IdentifierOwnerURI" type="MISMOURI_Base">
                    <xsd:annotation>
                        <xsd:documentation>Identifies the owner or publisher of the identifier associated with a MISMO term with the class word of "Identifier" by means or a URI. This is an XML attribute.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attributeGroup ref="xlink:MISMOresourceLink">
                    <xsd:annotation>
                        <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
                <xsd:attributeGroup ref="AttributeExtension">
                    <xsd:annotation>
                        <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

     <xsd:complexType name="MISMOString">
        <xsd:annotation>
            <xsd:documentation>A data type of String SHOULD identify a data point that is either a text value consisting of a word, phrase, sentence, paragraph, or formatted (TAB, CR, LF) character content depending on its purpose or a numeric value with a maximum of 16383 characters and MAY have the lang attribute. There is no list of valid values provided.
EXAMPLE: A Disqualificaton Reason Text for excluding a product from those offered to a borrower could be expressed as "Does not meet income to indebtedness guidelines for down payment support.".</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="MISMOString_Base">
                <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
                    <xsd:annotation>
                        <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute ref="xml:lang">
                    <xsd:annotation>
                        <xsd:documentation>The ISO 639-1 two character code value representing the langage of the text of the element data point. For example en for English es for spanish. If no ISO639-1 value exists for the language use the ISO639-2 three character  value. For example Philippine languages phi.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attributeGroup ref="xlink:MISMOresourceLink">
                    <xsd:annotation>
                        <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
                <xsd:attributeGroup ref="AttributeExtension">
                    <xsd:annotation>
                        <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="ABOUT_VERSION_OTHER_BASE">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ABOUT_VERSIONS_OTHER_BASE">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ABOUT_VERSION_EXTENSION">
        <xsd:sequence>
            <xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
            <xsd:element name="OTHER" type="ABOUT_VERSION_OTHER_BASE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ABOUT_VERSIONS_EXTENSION">
        <xsd:sequence>
            <xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
            <xsd:element name="OTHER" type="ABOUT_VERSIONS_OTHER_BASE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DEAL" type="DEAL">
        <xsd:annotation>
            <xsd:documentation>The root element for all transactions that apply to the use cases of a single deal. A Deal may contain multiple loans or loan applications.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DOCUMENT" type="DOCUMENT">
        <xsd:annotation>
            <xsd:documentation>A DOCUMENT element contains or refers to an electronic record that reports one or more aspects of a business transaction. A DOCUMENT element has types, purposes, and uses which are described in the DOCUMENT_CLASSIFICATION element. A DOCUMENT element contains one or more VIEW elements which allow rendering for human consumption, for example on a computer display or printed on paper. A DOCUMENT element may contain a DEAL_SETS element with data related to the DOCUMENT. A DOCUMENT element may also contain a MAP element that relates data in the DOCUMENT to populated fields in one or more VIEW elements. A DOCUMENT may contain SIGNATORY elements used to represent the legally binding signatures of the parties named in the electronic record. A DOCUMENT also supports SYSTEM_SIGNATURE elements to create digital tamper-evident seals over portions or all of the DOCUMENT. Finally, a DOCUMENT may contain one or more AUDIT_TRAIL_ENTRY elements that list events which occurred to the DOCUMENT. A DOCUMENT is also known as a MISMO V3 SMART Doc® electronic document. A DOCUMENT may be delivered within a MISMO V3 MESSAGE, or a DOCUMENT element may be the root element of a standalone resource that may be validated with the model schema.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MESSAGE" type="MESSAGE">
        <xsd:annotation>
            <xsd:documentation>MESSAGE is the root node for V3. It represents the message payload of any SOAP or REST transaction. In SOAP MESSAGE is the content of &amp;gt;soap:body&amp;lt;. In REST MESSAGE is the document that is in the PUT, GET or DELETE HTTP protocol methods.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PARTY" type="PARTY">
        <xsd:annotation>
            <xsd:documentation>A collection of information about a single party to a transaction. Included direct participants like the borrower and seller as well as indirect participants such as the flood certificate provider.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ABOUT_VERSION">
        <xsd:annotation>
            <xsd:documentation>Information that identifies the version of the specification, software and/or data used for this transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AboutVersionIdentifier" type="MISMOIdentifier" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A unique value that represents a user defined version identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CreatedDatetime" type="MISMODatetime" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The date and time at which the message, deal or document was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DataReportedEffectiveDate" type="MISMODate" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The effective as of reporting date of the data in the file.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DataVersionIdentifier" type="MISMOIdentifier" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Specifies the data file version.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DataVersionName" type="MISMOString" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifies the type of data file.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EX.TENSION" type="ABOUT_VERSION_EXTENSION" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="SequenceNumber" type="MISMOSequenceNumber_Base">
            <xsd:annotation>
                <xsd:documentation>An integer value used to provide an order to multi-instance sibling elements. The value must be unique for each sibling element.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="xlink:MISMOresourceLink">
            <xsd:annotation>
                <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="ABOUT_VERSIONS">
        <xsd:annotation>
            <xsd:documentation>Information about one or more ABOUT_VERSION. Holds all occurrences of ABOUT_VERSION.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ABOUT_VERSION" type="ABOUT_VERSION" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Information that identifies the version of the specification, software and/or data used for this transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EXTENSION" type="ABOUT_VERSIONS_EXTENSION" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="xlink:MISMOresourceLink">
            <xsd:annotation>
                <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="ACCESS_STREET_OTHER_BASE">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ACCESS_STREET_EXTENSION">
        <xsd:sequence>
            <xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
            <xsd:element name="OTHER" type="ACCESS_STREET_OTHER_BASE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ACCESS_STREETS_EXTENSION">
        <xsd:sequence>
            <xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
            <xsd:element name="OTHER" type="ACCESS_STREETS_OTHER_BASE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ACCESS_STREETS_OTHER_BASE">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ImprovedSurfaceMaterialBase">
        <xsd:annotation>
            <xsd:documentation>Term: Improved Surface Material Type Definition: A value from a MISMO prescribed list that specifies the predominant material used to surface the road, street and/or driveway.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="MISMOEnum_Base">
            <xsd:enumeration value="Asphalt"/>
            <xsd:enumeration value="Brick"/>
            <xsd:enumeration value="Cobblestone"/>
            <xsd:enumeration value="Concrete"/>
            <xsd:enumeration value="Dirt"/>
            <xsd:enumeration value="Gravel"/>
            <xsd:enumeration value="Other"/>
        </xsd:restriction>
    </xsd:simpleType>
        <xsd:complexType name="ImprovedSurfaceMaterialEnum">
        <xsd:annotation>
            <xsd:documentation>A value from a MISMO prescribed list that specifies the predominant material used to surface the road, street and/or driveway.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ImprovedSurfaceMaterialBase">
                <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
                    <xsd:annotation>
                        <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attributeGroup ref="xlink:MISMOresourceLink">
                    <xsd:annotation>
                        <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
                <xsd:attributeGroup ref="AttributeExtension">
                    <xsd:annotation>
                        <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="StreetAccessBase">
        <xsd:annotation>
            <xsd:documentation>Term: Street Access Type Definition: A value from a MISMO prescribed list that represents the means of access and exit to and from the property.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="MISMOEnum_Base">
            <xsd:enumeration value="Alley">
                <xsd:annotation>
                    <xsd:documentation>A typically narrow passageway between buildings/residences which is designed to provide access to the property but not meant for use as local roads.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Arterial">
                <xsd:annotation>
                    <xsd:documentation>A high capacity road primarily designed to provide routes from city to city. Features divided lanes and high to moderate rates of speed, limited and controlled pedestrian access (e.g. State/County highways).</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Collector">
                <xsd:annotation>
                    <xsd:documentation>A moderate capacity road designed to link to arterial roads and collect traffic from local roads. May feature divided lanes, moderate rates of speed, and controlled pedestrian access.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CulDeSac">
                <xsd:annotation>
                    <xsd:documentation>A low capacity road, designed as a non-through street which ends in a circle typically used for vehicle turn around. Features a low rate of speed and unregulated pedestrian access.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DeadEnd">
                <xsd:annotation>
                    <xsd:documentation>A low capacity road or series of roads which end abruptly with no specified area for vehicle turn around and will have only one means of entry/exit. Features low rate of speed and unregulated pedestrian access (e.g. non-through street).</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Local">
                <xsd:annotation>
                    <xsd:documentation>A moderate to low capacity road which is primarily designed to provide direct access to individual residential properties. Typically features single lane, low rates of speed and unregulated pedestrian access (e.g. neighborhood/residential roads).</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Other"/>
            <xsd:enumeration value="Rural">
                <xsd:annotation>
                    <xsd:documentation>A low capacity road which is primarily designed to provide direct access to agricultural properties and larger acreage residential properties. Typically present in areas of low population density. Will have low rates of speed and unregulated pedestrian access (e.g. County roads).</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="StreetAccessEnum">
        <xsd:annotation>
            <xsd:documentation>A value from a MISMO prescribed list that represents the means of access and exit to and from the property.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="StreetAccessBase">
                <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
                    <xsd:annotation>
                        <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attributeGroup ref="xlink:MISMOresourceLink">
                    <xsd:annotation>
                        <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
                <xsd:attributeGroup ref="AttributeExtension">
                    <xsd:annotation>
                        <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    
    <xsd:complexType name="ACCESS_STREET">
        <xsd:annotation>
            <xsd:documentation>Information about street(s) used to access the property.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ImprovedSurfaceMaterialType" type="ImprovedSurfaceMaterialEnum" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A value from a MISMO prescribed list that specifies the predominant material used to surface the road, street and/or driveway.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ImprovedSurfaceMaterialTypeOtherDescription" type="MISMOString" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A free-form text field that specifies the enumeration when the value of Other is used for Improved Surface Material Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StreetAccessType" type="StreetAccessEnum" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A value from a MISMO prescribed list that represents the means of access and exit to and from the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StreetAccessTypeOtherDescription" type="MISMOString" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A free-form text field that specifies the enumeration when the value of Other is used for Street Access Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EXTENSION" type="ACCESS_STREET_EXTENSION" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="SequenceNumber" type="MISMOSequenceNumber_Base">
            <xsd:annotation>
                <xsd:documentation>An integer value used to provide an order to multi-instance sibling elements. The value must be unique for each sibling element.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="xlink:MISMOresourceLink">
            <xsd:annotation>
                <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="ACCESS_STREETS">
        <xsd:annotation>
            <xsd:documentation>Contains information about any streets leading to the property. Contains all instances of ACCESS_STREET.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ACCESS_STREET" type="ACCESS_STREET" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Information about street(s) used to access the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EXTENSION" type="ACCESS_STREETS_EXTENSION" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="xlink:MISMOresourceLink">
            <xsd:annotation>
                <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="MISMODate">
        <xsd:annotation>
            <xsd:documentation>A data type of Date SHOULD identify a data point that represents numerically a specific year, month and year, or day month and year of the Gregorian Calendar.
Full dates MUST be represented in the extended format CCYY-MM-DD
CCYY is a four-digit year, "0001" through "9999"
MM is a two-digit month of that year, "01" through "12"
DD is a two-digit day of that month, "01" through "31"
Padded zeros must be used.
- is the required separator between CCYY-MM-DD
if the day or month and day are dropped, the preceding separator is also dropped
an optional trailing time zone indicator is permitted using either Z (for Coordinated Universal Time UTC) or an offset from UTC using +hh:mm or -hh:mm as in Datetime
Note that negative or extended (more than 4 digit) years are not permitted.
EXAMPLE: A Next Escrow Review Date that discloses the year and month would be expressed as "2010-06".</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="MISMODate_Base">
                <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
                    <xsd:annotation>
                        <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attributeGroup ref="xlink:MISMOresourceLink">
                    <xsd:annotation>
                        <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
                <xsd:attributeGroup ref="AttributeExtension">
                    <xsd:annotation>
                        <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="MISMODatetime">
        <xsd:annotation>
            <xsd:documentation>A data type of Datetime SHOULD identify a data point that represents numerically a specific day month and year of the Gregorian Calendar plus a time of day expressed in hours, minutes and seconds as related to Coordinated Universal Time (UTC) and MAY have an IgnoreTimeSegmentIndicator attribute.
Datetimes MUST be represented in the extended format CCYY-MM-DDThh:mm:ssZ
CCYY is a four-digit year, "0000" through "9999"
MM is a two-digit month of that year, "01" through "12"
DD is a two-digit day of that month, "01" through “31”
- is the required separator between CCYY-MM-DD
T is the required separator between the date and the time groupings
hh is a two-digit hour of that day, "00" through "23"
mm is a two-digit minute of that hour, "00" through "59"
ss is a two-digit second of that minute, "00" through "59"
: is the required separator between hh:mm:ss
Z is a required time zone indicator using either Z (for Coordinated Universal Time UTC) or an offset from UTC using +hh:mm or -hh:mm
Padded leading zeroes must be used throughout.
an optional fractional seconds (decimal point and up to 9 digits) is permitted between the seconds and the time zone.
Note that negative or extended (more than 4 digit) years are not permitted.
EXAMPLE: An Event Datetime would be expressed as "2010-06-29T14;24:13.124-05:00".</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="MISMODatetime_Base">
                <xsd:attribute name="DataNotSuppliedReasonType" type="DataNotSuppliedReasonBase">
                    <xsd:annotation>
                        <xsd:documentation>A value from a MISMO prescribed list that specifies the reason a specific data point is not included in the message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeAdditionalDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to provide a supplemental comment or remark regarding the Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DataNotSuppliedReasonTypeOtherDescription" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field used to capture the enumeration when Other is selected for Data Not Supplied Reason Type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="DisplayTimeZoneText" type="MISMOString_Base">
                    <xsd:annotation>
                        <xsd:documentation>A free-form text field that identifies the specific region where the time value applies. Trading partners should agree on what time zone name values they will use. The recommended time zone name values should be based on the TZ database, also known as the Internet Assigned Numbers Authority (IANA) timezone database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="IgnoreTimeSegmentIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>If for some reason the sender of a message cannot provide an accurate time for a datetime data point they set this indicator true.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="SensitiveIndicator" type="MISMOIndicator_Base">
                    <xsd:annotation>
                        <xsd:documentation>Allows producers and consumers of XML instance documents that are valid MISMO V3 documents to mark any data point to be treated as sensitive. MISMO recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attributeGroup ref="xlink:MISMOresourceLink">
                    <xsd:annotation>
                        <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
                <xsd:attributeGroup ref="AttributeExtension">
                    <xsd:annotation>
                        <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attributeGroup>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="RELATIONSHIP">
        <xsd:annotation>
            <xsd:documentation>Uses xlink: attributes to connect locations in the document or at any URL by defining an arc and arc type and role. The scope of the endpoints of the relationship is the collection of siblings to its RELATIONSHIPS parent; it may be necessary to de-reference the content of those siblings to find an endpoint.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="SequenceNumber" type="MISMOSequenceNumber_Base">
            <xsd:annotation>
                <xsd:documentation>An integer value used to provide an order to multi-instance sibling elements. The value must be unique for each sibling element.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="xlink:MISMOarcLink">
            <xsd:annotation>
                <xsd:documentation>An xlink set of attributes that identifies two end points and the kind of relationship they have to each other.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>

    <xsd:complexType name="SYSTEM_SIGNATURE">
        <xsd:annotation>
            <xsd:documentation>Information about an XML digital Signature signed by a system certificate to verify that no changes have been made to the Electronic Record since the seal was put in place. Also known as: Tamper Seal, Tamper Seal Signature and Tamper Evident Signature.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict" minOccurs="0"/>
            <xsd:element name="EXTENSION" type="SYSTEM_SIGNATURE_EXTENSION" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="SequenceNumber" type="MISMOSequenceNumber_Base">
            <xsd:annotation>
                <xsd:documentation>An integer value used to provide an order to multi-instance sibling elements. The value must be unique for each sibling element.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="xlink:MISMOresourceLink">
            <xsd:annotation>
                <xsd:documentation>An xlink attribute group for defining the end point of a relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="AttributeExtension">
            <xsd:annotation>
                <xsd:documentation>An implementation of the ability to extend an instance document by using any attribute. To change from Lax to make an redefinition restriction of AttributeExtension attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>

</xsd:schema>